.git
.gitignore
.firebase
.tmp
.vscode
node_modules
client/node_modules
server/node_modules
client/dist
android
android-sdk
jdk-21
jdk21.tar.gz
plutus.zip
*.log
server/plutus.db-*
*.db-shm
*.db-wal
client/.env*
server/.env*
